*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: $primary;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

::selection {
    background-color: $tertiary !important;
    color: $primary !important;
    text-shadow: none;
}