// $primary: #14274E;
// $primary-light: #394867;
// $secondary: #b3d4fc;
// $primary-white: #ffffff;
// $primary-black: #000000;

$primary: #08233c;
$primary-light: #083d56;
$secondary: #0e5f76;
$tertiary: #d7df71;
$primary-white: #ffffff;
$primary-grey: #4b4b4b;
$primary-black: #000000;
$error: red;

// FONT SIZE
$small-size: .6rem;
$medium-size: 1rem;
$medium-mid-size: 1.3rem;
$default-size: 1.5rem;