<template title="Materialsmine V2.0 - Teams Page">
    <div>
        <a-header :info="info"></a-header>
        <div class="section_teams">
            <div class="wrapper">
                <div class="tools-module">
                    <div class="team_header">
                        <h1 title="Team's Headline" class="visualize_header-h1 teams_header">Statistical Learning and Analysis Module Tools</h1>
                    </div>
                    <div class="teams_text">
                        Statistical learning and analysis modules include web and downloadable packages that can be used to pre-process and analyze structure and material property data. Each of the modules will specify the required input format and output data, and provide a brief introduction behind the mechanism of the algorithm.
                    </div>
                    <div class="tools_shortcuts">
                        <div class="tools_shortcuts-list">
                            <ul>
                                <li>
                                    <div class="tools_box tools_box--1">
                                    </div>
                                    <div class="tools_box-content tools_box-content-odd">
                                        <div class="tools_name"><h3>MICROSTRUCTURE CHARACTERIZATION AND RECONSTRUCTION</h3></div>
                                        <div class="tools_description">
                                            This user friendly webtools allow users to characterize microstructure images and reconstruct statistically equivalent microstructures. Available characterizationd and reconstruction methods include: Correlation Functions (Two-point, Lineal Path, Cluster, and Surface), Spectral Density Function (SDF), and Descriptors.
                                            <div class="tools_laucher">
                                                <a class="btn btn--primary" href="/nm#/mcr_homepage">Launch</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tools_box tools_box--2">
                                    </div>
                                    <div class="tools_box-content">
                                        <div class="tools_name"><h3>DYNAMFIT</h3></div>
                                        <div class="tools_description">
                                            Dynamfit is a sign control algorithm for Prony Series fitting. This program fits a viscoelastic mastercurve from DMA experiments with a Prony Series. The Prony Series coefficients can be used as baseline properties for the matrix in a FEA simulation of nanocomposites.
                                            <div class="tools_laucher">
                                                <a class="btn btn--primary" href="/nm#/Dynamfit">Launch</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a-footer></a-footer>
    </div>
</template>