<template title="Materialsmine V2.0 - Teams Page">
    <div>
        <h1 v-if="this.$store.state.versionNew" class="header-mm">Our Team</h1>
        <div class="section_teams">
            <div class="wrapper">
                <div class="team_header">
                    <h1 title="Team's Headline" class="visualize_header-h1 teams_header">About Us</h1>
                </div>
                <div class="teams_text">
                    The MaterialsMine Team brings together expertise across five research institutions in the fields of mechanics, materials, design, manufacturing, data science, and computer science to build and develop an open-source, user-friendly materials data resource guided by FAIR principles, with current modules geared toward research communities in the domains of polymer nanocomposites (NanoMine) and mechanical metamaterials (MetaMine).  As MaterialsMine continues to expand, we are committed to facilitating materials research development and welcome feedback and suggestions for further improvements to help you benchmark and visualize your data, explore your research hypotheses, perform simulations and analysis using our available tools, and more.  Follow the links below to learn more about our team members!
                </div>
                <div class="visualize_header">
                    <h1 title="Team List Header" class="visualize_header-h1">Team Members</h1>
                </div>
                <div class="teams_list">
                    <ul>
                        <li>
                            <div class="teams_container">
                                <div class="teams_profile-pic">
                                    <img src="/nmstatic/img/brinson.jpg" alt="Cate Brinson">
                                </div>
                                <h3 class="teams_profile-header">Cate Brinson</h3>
                                <h6 class="teams_profile-subhead">Sharon C. and Harold L. Yoh, III Distinguished Professor</h6>
                                <p class="teams_profile-text">L. Catherine Brinson is an American materials scientist who is the Sharon C. and Harold L. Yoh, III Distinguished Professor at Duke University. Her research considers nanostructured polymers and shape-memory alloys. She was elected a Fellow of the American Association for the Advancement of Science in 2020.</p>
                                <div class="teams_profile_link teams_profile_link-first safari_only teams_profile_link_adjust">
                                    <div class="teams_profile_link-list">
                                        <!-- <a href="#" class="u_margin-right-small"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
                                        <a href="https://www.linkedin.com/in/cate-brinson-a709663" target="_blank" class="u_margin-right-small"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="www.orcid.org/0000-0003-2551-1563" target="_blank" class="u_margin-right-small"><i class="fa fa-orcid" aria-hidden="true"></i></a> -->
                                        <a href="https://mems.duke.edu/faculty/catherine-brinson" target="_blank"><i class="fa fa-internet-explorer"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="teams_container">
                                <div class="teams_profile-pic">
                                    <img src="/nmstatic/img/chen-wei.jpg" alt="Wei Chen">
                                </div>
                                <h3 class="teams_profile-header">Wei Chen</h3>
                                <h6 class="teams_profile-subhead">Wilson-Cook Professor in Engineering Design</h6>
                                <p class="teams_profile-text">Dr. Chen is the Director of the Integrated Design Automation Laboratory (IDEAL), Director of the Predictive Science & Engineering Design (PSED) Cluster, and Co-Director of the Design Cluster.</p>
                                <div class="teams_profile_link">
                                    <div class="teams_profile_link-list">
                                        <!-- <a href="https://orcid.org/0000-0002-1135-7721" target="_blank" class="u_margin-right-small"><i class="fa fa-orcid" aria-hidden="true"></i></a> -->
                                        <a href="https://www.mccormick.northwestern.edu/research-faculty/directory/profiles/chen-wei.html"><i class="fa fa-internet-explorer" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="teams_container">
                                <div class="teams_profile-pic">
                                    <img src="/nmstatic/img/Linda Schadler 2.jpg" alt="Linda S. Schadler">
                                </div>
                                <h3 class="teams_profile-header">Linda S. Schadler</h3>
                                <h6 class="teams_profile-subhead">Dean of the College of Engineering and Mathematical Sciences, Professor</h6>
                                <p class="teams_profile-text">Schadler is an experimentalist and her research focuses on the mechanical, optical, and electrical behavior of nanofilled polymer composites. She has co-authored more than 160 journal publications, several book chapters, and one book.</p>
                                <div class="teams_profile_link">
                                    <div class="teams_profile_link-list">
                                        <a href="https://www.linkedin.com/in/linda-schadler/" class="u_margin-right-small"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="https://orcid.org/0000-0002-6406-5247" class="u_margin-right-small"><i class="fa fa-orcid" aria-hidden="true"></i></a> -->
                                        <a href="https://www.uvm.edu/cems/profiles/linda-s-schadler" target="_blank"><i class="fa fa-internet-explorer"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="teams_container">
                                <div class="teams_profile-pic">
                                    <img src="/nmstatic/img/chiara.png" alt="Chiara Daraio">
                                </div>
                                <h3 class="teams_profile-header">Chiara Daraio</h3>
                                <h6 class="teams_profile-subhead">Professor of Mechanical Engineering and Applied Physics</h6>
                                <p class="teams_profile-text">Professor of Mechanical Engineering and Applied Physics at Caltech with a demonstrated history of working in the research industry. Strong professional skilled in Experimental Mechanics, Mathematical Modeling, Materials Science, Nanomaterials and Nanofabrication, Sensors and Acoustics.</p>
                                <div class="teams_profile_link teams_profile_link_adjust">
                                    <div class="teams_profile_link-list">
                                        <a href="https://www.linkedin.com/in/chiara-daraio-11722912" class="u_margin-right-small"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="https://orcid.org/0000-0001-5296-4440" class="u_margin-right-small"><i class="fa fa-orcid" aria-hidden="true"></i></a> -->
                                        <a href="https://eas.caltech.edu/people/daraio" target="_blank"><i class="fa fa-internet-explorer"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="teams_container">
                                <div class="teams_profile-pic">
                                    <img src="/nmstatic/img/Deborah_Mcguinness.jpg" alt="Deborah L Mcguinness">
                                </div>
                                <h3 class="teams_profile-header">Deborah L Mcguinness</h3>
                                <h6 class="teams_profile-subhead">Tetherless World Senior Constellation Chair, Professor of Computer & Cognitive Science</h6>
                                <p class="teams_profile-text">Deborah McGuinness is the Tetherless World Senior Constellation Chair and Professor of Computer and Cognitive Science. She is also the founding director of the Web Science Research Center at Rensselaer Polytechnic Institute.</p>
                                <div class="teams_profile_link">
                                    <div class="teams_profile_link-list">
                                        <a href="https://twitter.com/dlmcguinness" class="u_margin-right-small"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="https://www.linkedin.com/in/deborah-mcguinness-088167" class="u_margin-right-small"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <!-- <a href="https://orcid.org/0000-0001-7037-4567" class="u_margin-right-small" title="orcid"><i class="fas fa-id-card-alt" aria-hidden="true"></i></a> -->
                                        <a href="https://faculty.rpi.edu/node/36134" target="_blank" title="webpage"><i class="fa fa-internet-explorer"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="teams_container">
                                <div class="teams_profile-pic">
                                    <img src="/nmstatic/img/cynthia.jpg" alt="Cynthia D. Rudin">
                                </div>
                                <h3 class="teams_profile-header">Cynthia D. Rudin</h3>
                                <h6 class="teams_profile-subhead">Professor of Computer Science</h6>
                                <p class="teams_profile-text">Cynthia Rudin is a professor of computer science, electrical and computer engineering, and statistical science at Duke University, and directs the Prediction Analysis Lab, whose main focus is in interpretable machine learning.</p>
                                <div class="teams_profile_link">
                                    <div class="teams_profile_link-list">
                                        <!-- <a href="https://orcid.org/0000-0003-4283-2780" class="u_margin-right-small" title="orcid"><i class="fa fa-book-open"></i></a> -->
                                        <a href="https://users.cs.duke.edu/~cynthia/home.html" target="_blank" title="webpage"><i class="fa fa-internet-explorer"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="team_partner-container">
                    <div class="teams_header-partner u_margin-bottom-big">
                        <h1 title="Partner List Header" class="visualize_header-h1">Our Partners</h1>
                    </div>
                    <div class="">
                        <div class="grid grid_col-4 grid_gap-smaller">
                            <div class="teams_partner" title="Center for Hierarchical Materials Design">
                                <img class="teams_partner-chimad teams_partner-align" src="/nmstatic/img/chimad-logo.png" alt="chimad-logo" title="Center for Hierarchical Materials Design">
                            </div>
                            <div class="teams_partner" title="National Institute of Standards and Technology">
                                <img class="teams_partner-nist teams_partner-align" src="/nmstatic/img/NIST_logo.svg.png" alt="nist-logo" title="National Institute of Standards and Technology">
                            </div>
                            <div class="teams_partner" title="National Science Foundation">
                                <img class="teams_partner-nsf teams_partner-align" src="/nmstatic/img/NSF.png" alt="nsf-logo" title="National Science Foundation">
                            </div>
                            <div class="teams_partner" title="Office of Naval Research Scienc and Technology">
                                <img class="teams_partner-naval teams_partner-align" src="/nmstatic/img/naval_research.png" alt="naval_research-logo" title="Office of Naval Research Scienc and Technology">
                            </div>
                        </div>
                        <div class="u_margin-bottom-big">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>