<template title="Materialsmine V2.0 - Landing Page">
    <div>
        <header class="header">
            <div class="wrapper">
                <div class="header-logo">
                    <div class="">
                        <img src="/nmstatic/img/logo.svg" alt="Materialsmine Logo">
                    </div>
                </div>
                <div class="nav_mobile-icon">
                    <div class="section_nav_mobile-icon-menu"></div>
                </div>
                <div class="header_nav">
                    <div class="nav nav--float-right u--inline">
                        <ul>
                            <li><a href="/">Nanomine</a></li>
                            <li><a href="/">Metamine</a></li>
                        </ul>
                    </div>
                    <div class="u--inline">
                        <a class="btn btn--tertiary btn--normal" href="/signup">Login/Register</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="section_banner">
            <div class="section_banner__text">
                <div class="section_banner__text-content">
                    <i class="material-icons">people</i> <span class="u_adjust-banner-text">Our Teams </span>
                </div>
            </div>
            <div class="section_banner__nav">
                <nav class="nav--float-right u--inline">
                    <ul>
                        <li><div class="mmmm"><a class="u--default-size" href="/">About</a></div></li>
                        <li><div class="mmmm"><a class="u--default-size" href="/">Visualize</a></div></li>
                        <li><div class="mmmm"><a class="u--default-size" href="/">Upload</a></div></li>
                        <li><div class="mmmm"><a class="u--default-size" href="/">Tools</a></div></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="section_teams">
            <div class="wrapper">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatibus voluptas ex officia? Consectetur reiciendis sequi, sint modi eius sed ad unde dolor et deleniti eveniet natus, nihil fugiat doloribus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus commodi fugit aspernatur nobis sequi laudantium itaque minima pariatur quibusdam, numquam recusandae est voluptates repellendus quod velit quam dolor provident iste?</p>
            </div>
        </div>
        <div class="section_footer">
            <div class="wrapper">
                <div class="grid grid_col-space-right grid_gap-smaller">
                    <div class="footer_content">
                        <img src="/nmstatic/img/logo.svg" class="footer_icon-img" alt="Materialsmine Logo">
                        <span class="footer_icon-text">&copy; 2020 Nanomine. All Rights Reserved.</span>
                    </div>
                    <div class="footer_content">
                        <div class="grid grid_col-3">
                            <div class="footer_list">
                                <ul>
                                    <li><a href="/">Nanomine</a></li>
                                    <li><a href="/">Metamine</a></li>
                                </ul>
                            </div>
                            <div class="footer_list">
                                <ul>
                                    <li><a href="/">Teams</a></li>
                                    <li><a href="/">How To</a></li>
                                    <li><a href="/">Research News</a></li>
                                </ul>
                            </div>
                            <div class="footer_list">
                                <ul>
                                    <li><a href="/">Privacy Policy</a></li>
                                    <li><a href="/">Terms of Use</a></li>
                                    <li><a href="/">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>