<template title="Materialsmine V2.0 - Landing Page">
    <div>
        <header class="header">
            <div class="wrapper">
                <div class="header-logo" @click="links('/nm#/')">
                    <div class="">
                        <img src="/nmstatic/img/logo2.png" alt="MaterialsMine Logo">
                    </div>
                </div>
                <div class="nav_mobile-icon">
                    <div class="nav_mobile-icon-menu"></div>
                </div>
                <div class="header_nav">
                    <div class="nav nav_menu u--inline">
                        <ul>
                            <li><a href="/nm#/">NanoMine</a></li>
                            <li><a href="/nm#/mm">MetaMine</a></li>
                        </ul>
                    </div>
                    <div class="u--inline">
                        <div v-if="loginStatus" class="nav_menu--container">
                            <a class="u--default-size nav_menu--handler" style="color:#fff; font-size:1.2rem !important;" v-if="!isRunAs"><i class="material-icons" style="vertical-align: middle;">perm_identity</i> {{loginStatus ? !isRunAs ? userName : auth.getRunAsUser() : "Menu"}}</a>
                            <div class="nav_menu--siblings nav_menu--sibheader">
                                <span class="nav_menu--siblings-lists" @click="$store.commit('setLoginLogout')"><a href="#">Logout</a></span>
                            </div>
                           <!--<a v-else><i class="material-icons" style="vertical-align: bottom;">perm_identity</i> {{auth.getRunAsUser()}}</a>-->
                        </div>
                        <div v-else>
                            <a class="btn btn--tertiary btn--noradius" v-on:click="$store.commit('setLoginLogout')" href="#">Login/Register</a>
                        </div>
                        <!--<a class="btn btn--tertiary btn--normal" :href="getLoginLink()">Login/Register</a>-->
                    </div>
                </div>
            </div>
        </header>
        <div class="section_banner">
            <div class="section_banner__text">
                <div class="section_banner__text-content">
                    <span>Welcome to Materialsmine! </span>We are an open source repository for nano composite data, hosted in Nanomine, and mechanical metamaterials data, hosted in Metamine.
                </div>
            </div>
            <div class="section_banner__nav">
                <nav class="nav_menu">
                    <ul class="nav_ul">
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">About</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists" @click="links('/nm#/teams')"><a href="/nm#/teams">About us</a></span>
                                    <span class="nav_menu--siblings-lists" @click="links('/nm#/how')"><a href="/nm#/how">How To</a></span>
                                    <span class="nav_menu--siblings-lists nav_menu--siblings-lists-removebdr" @click="links('/nm#/news')"><a href="/nm#/news">Research + News</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">Visualize</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists" @click="links('/home')"><a href="/home">Browse Data</a></span>
                                    <span class="nav_menu--siblings-lists" @click="links(true,true)"><a href="#">Explore Gallery</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">Upload</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists" @click="links('/nm#/XMLCONV')"><a href="/nm#/XMLCONV">Xml Based Upload</a></span>
                                    <span class="nav_menu--siblings-lists" @click="links('#')"><a href="#">Direct Dataset Upload Form</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">Tools</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists" @click="links('/nm#/simmtools')"><a href="/nm#/tools">Module Tools</a></span>
                                    <span class="nav_menu--siblings-lists" @click="links('/nm#/simmtools')"><a href="/nm#/simmtools">Simmulation Tools</a></span>
                                    <span class="nav_menu--siblings-lists" @click="links('/nm#/ChemProps')"><a href="/nm#/ChemProps">ChemProps</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="u_margin-right-small" v-if="loginStatus">
                            <div class="nav_menu--container">
                                <a class="u--default-size" href="/nm#/mypage">My Portal</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="section_visualize">
            <div class="visualize--links">
                <div class="visualize--link-icons visualize--link-left" @click.prevent="pushChart('prev')"><i class="material-icons">keyboard_arrow_left</i></div>
                <div class="visualize--link-icons visualize--link-right" @click.prevent="pushChart('next')"><i class="material-icons">keyboard_arrow_right</i></div>
            </div>
            <div class="wrapper">
                <div class="visualize_header">
                    <h1 title="Visualization Headline" class="visualize_header-h1">Visualize Your Data</h1>
                </div>
                <div class="visualize_accordion" title="Visualization Container">
                    <div class="visualize_chart" :class="`charts-${index + 1}`" v-for="(result, index) in exploreChart" :key="index">
                        <div class="visualize_chart-content" :class="`charts_content-${index + 1}`" @click.prevent="linkChart(result.backup.uri)">
                            <img :src="result.backup.depiction" :alt="result.backup.title">
                            <span>{{result.backup.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="visualize_btn">
                    <a href="/nm#/gallery" class="btn-text">Explore the chart gallery</a>
                </div>
                <div class="visualize_text">
                    <p>Our charts platform leverages SPARQL and Vega-Lite to create custom, interactive charts from data in the MaterialsMine knowledge graph using an in-browser editor. Visit our Charts Gallery to see some examples, and contact us to get your data integrated into the knowledge graph</p>
                </div>
            </div>
        </div>
        <div class="section_quicklinks">
            <div class="wrapper">
                <div class="grid grid_col-3 grid_gap-smaller">
                    <div class="quicklinks" @click.prevent="nav('XMLCONV')">
                        <div class="quicklinks_content">
                            <h2>Upload your data</h2>
                            <i class="material-icons">vertical_align_top</i>
                            <div class="quicklinks_content-description">Add new data sources to the repository into the data uploader</div>
                        </div>
                    </div>
                    <div class="quicklinks quicklinks-border" @click.prevent="nav('tools')">
                        <div class="quicklinks_content">
                            <h2>Use custom tools</h2>
                            <i class="material-icons">flash_on</i>
                            <div class="quicklinks_content-description">Use custom tools to gain further insights into data</div>
                        </div>
                    </div>
                    <div class="quicklinks" @click.prevent="nav('news')">
                        <div class="quicklinks_content">
                            <h2>Learn more</h2>
                            <i class="material-icons">emoji_objects</i>
                            <div class="quicklinks_content-description">Find the latest research articles and community update</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a-footer></a-footer>
        <v-dialog v-model="logoutDialog" max-width="290">
            <v-card>
                <v-card-title class="headline blue lighten-2" primary-title>Log out</v-card-title>
                <v-card-text>
                    Log out of NanoMine?
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat="flat" @click="cancelLogout()">
                    No
                </v-btn>

                <v-btn color="blue darken-1" flat="flat" href="/nmr/doLogout">
                    Yes
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="loginDialog" max-width="290">
            <v-card>
                <v-card-title class="headline blue lighten-2" primary-title>Login</v-card-title>
                <v-card-text>
                    Log into NanoMine?
                </v-card-text>
                <v-card-text>
                    If you already have a Duke University account, proceed to login.  Otherwise create a <a href="https://accounts.oit.duke.edu/onelink/register" target="_blank">Duke OneLink</a> account.
                    <br/><strong>Coming Soon:</strong> InCommon support for using your own university's credentials for login. <a href="https://www.incommon.org/federation/incommon-federation-participants/" target="_blank">What is InCommon?</a>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat="flat" @click="$store.commit('resetLoginLogout')">
                    Cancel
                </v-btn>

                <v-btn color="blue darken-1" flat="flat" :href="getLoginLink()">
                    Login
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>