<template title="Materialsmine V2.0 - Landing Page">
    <div>
        <header class="header">
            <div class="wrapper">
                <div class="header-logo">
                    <div class="">
                        <img src="/nmstatic/img/logo.svg" alt="Materialsmine Logo">
                    </div>
                </div>
                <div class="nav_mobile-icon">
                    <div class="nav_mobile-icon-menu"></div>
                </div>
                <div class="header_nav">
                    <div class="nav nav_menu u--inline">
                        <ul>
                            <li><a href="/nm#/home_v2">Nanomine</a></li>
                            <li><a href="#">Metamine</a></li>
                        </ul>
                    </div>
                    <div class="u--inline">
                        <a class="btn btn--tertiary btn--normal" href="/signup">Login/Register</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="section_banner">
            <div class="section_banner__text">
                <div class="section_banner__text-content">
                    <span>Welcome to Materialsmine! </span>We are an open source repository for nano composite data, hosted in Nanomine, and mechanical metamaterials data, hosted in Metamine.
                </div>
            </div>
            <div class="section_banner__nav">
                <nav class="nav_menu">
                    <ul>
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">About</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists "><a href="/nm#/teams">About us</a></span>
                                    <span class="nav_menu--siblings-lists"><a href="/nm#/how">How To</a></span>
                                    <span class="nav_menu--siblings-lists nav_menu--siblings-lists-removebdr"><a href="/nm#/news">Research + News</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">Visualize</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists "><a href="/home">Browse Data</a></span>
                                    <span class="nav_menu--siblings-lists"><a href="/nm#/gallery">Explore Gallery</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">Upload</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists "><a href="/nm#/upload">Xml Based Upload</a></span>
                                    <span class="nav_menu--siblings-lists"><a href="#">Direct Dataset Upload Form</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="u_margin-right-small">
                            <div class="nav_menu--container">
                                <a class="u--default-size nav_menu--handler" href="#">Tools</a>
                                <div class="nav_menu--siblings">
                                    <span class="nav_menu--siblings-lists "><a href="/nm#/tools">Module Tools</a></span>
                                    <span class="nav_menu--siblings-lists"><a href="/nm#/simmtools">Simmulation Tools</a></span>
                                    <span class="nav_menu--siblings-lists"><a href="/nm#/ChemProps">Chemprops</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="section_visualize">
            <div class="visualize--links">
                <div class="visualize--link-icons visualize--link-left"><i class="material-icons">keyboard_arrow_left</i></div>
                <div class="visualize--link-icons visualize--link-right"><i class="material-icons">keyboard_arrow_right</i></div>
            </div>
            <div class="wrapper">
                <div class="visualize_header">
                    <h1 title="Visualization Headline" class="visualize_header-h1">Visualize Your Data</h1>
                </div>
                <div class="visualize_accordion" title="Visualization Container">
                    <div class="visualize_chart charts-1" v-for="(result, index) in exploreChart" :key="index">
                        <div class="visualize_chart-content" :class="`charts_content-${index + 1}`" @click.prevent="linkChart(result.backup.uri)">
                            <img :src="result.backup.depiction" :alt="result.backup.title">
                            <span>{{result.backup.title}}</span>
                        </div>
                    </div>
                    <!--<div class="visualize_chart charts-2">
                        <div class="visualize_chart-content charts_content-2"></div>
                    </div>
                    <div class="visualize_chart charts-3">
                        <div class="visualize_chart-content charts_content-3"></div>
                    </div>
                    <div class="visualize_chart charts-4">
                        <div class="visualize_chart-content charts_content-4"></div>
                    </div>
                    <div class="visualize_chart charts-5">
                        <div class="visualize_chart-content charts_content-5"></div>
                    </div>
                    <div class="visualize_chart charts-6">
                        <div class="visualize_chart-content charts_content-6"></div>
                    </div>
                    <div class="visualize_chart charts-7">
                        <div class="visualize_chart-content charts_content-7"></div>
                    </div>
                    <div class="visualize_chart charts-8">
                        <div class="visualize_chart-content charts_content-8"></div>
                    </div>-->
                </div>
                <div class="visualize_btn">
                    <a href="/nm#/gallery" class="btn-text">Explore the chart gallery</a>
                </div>
                <div class="visualize_text">
                    <p>Custom made charts allow you to add your data by editing code in an in-browser editor. The data visualization tool let’s you make your own charts using Nanomine data repository</p>
                </div>
            </div>
        </div>
        <div class="section_quicklinks">
            <div class="wrapper">
                <div class="grid grid_col-3 grid_gap-smaller">
                    <div class="quicklinks" @click.prevent="nav('upload')">
                        <div class="quicklinks_content">
                            <h2>Upload your data</h2>
                            <i class="material-icons">vertical_align_top</i>
                            <div class="quicklinks_content-description">Add new data sources to the repository into the data uploader</div>
                        </div>
                    </div>
                    <div class="quicklinks quicklinks-border" @click.prevent="nav('tools')">
                        <div class="quicklinks_content">
                            <h2>Use custom tools</h2>
                            <i class="material-icons">flash_on</i>
                            <div class="quicklinks_content-description">Use custom tools to gain further insights into data</div>
                        </div>
                    </div>
                    <div class="quicklinks" @click.prevent="nav('news')">
                        <div class="quicklinks_content">
                            <h2>Learn more</h2>
                            <i class="material-icons">emoji_objects</i>
                            <div class="quicklinks_content-description">Find the latest research articles and community update</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_footer">
            <div class="wrapper">
                <div class="grid grid_col-space-right grid_gap-smaller">
                    <div class="footer_content u_toggle-display-off">
                        <img src="/nmstatic/img/logo.svg" class="footer_icon-img" alt="Materialsmine Logo">
                        <span class="footer_icon-text">&copy; 2020 Nanomine. All Rights Reserved.</span>
                    </div>
                    <div class="footer_content">
                        <div class="grid grid_col-3">
                            <div class="footer_list">
                                <ul>
                                    <li><a href="/nm#/home_v2">Nanomine</a></li>
                                    <li><a href="#">Metamine</a></li>
                                </ul>
                            </div>
                            <div class="footer_list">
                                <ul>
                                    <li><a href="/nm#/teams">Teams</a></li>
                                    <li><a href="/nm#/how">How To</a></li>
                                    <li><a href="/nm#/news">Research News</a></li>
                                </ul>
                            </div>
                            <div class="footer_list">
                                <ul>
                                    <li><a href="https://oarc.duke.edu/privacy/duke-university-privacy-statement" target="_blank">Privacy Policy</a></li>
                                    <li><a href="https://security.duke.edu/node/82" target="_blank">Terms of Use</a></li>
                                    <li><a href="/nm#/contactus">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_content-mobile">
                    <img src="/nmstatic/img/logo.svg" class="footer_icon-img" alt="Materialsmine Logo">
                    <span class="footer_icon-text">&copy; 2014-{{ new Date().getFullYear() }}. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</template>