<template title="Materialsmine V2.0 - Teams Page">
    <div>
        <a-header :info="info"></a-header>
        <div class="section_teams">
            <div class="wrapper">
                <div class="research">
                    <div class="team_header">
                        <h1 title="Research" class="visualize_header-h1 teams_header">Description</h1>
                    </div>
                    <div class="teams_text">
                        The simplest method to curate your sample into the database is by uploading an MS Excel spreadsheet. For each sample, select or create a dataset for 
                        your sample group, upload a completed Excel template file using the first uploading box and other supplementary image and raw data files using the second uploading box. 
                        The master Excel template contains all possible fields for nanocomposite sample data and therefore many fields will remain blank for your sample. Fill in only the parameters applicable to 
                        your sample. Customized templates are available upon request, please contact the NanoMine team if customization is required.
                    </div>
                </div>
                <div class="research">
                    <div class="team_header">
                        <h1 title="Research" class="visualize_header-h1 teams_header">Steps</h1>
                    </div>
                    <div class="teams_text">
                        <span>Note:</span> Filesets for samples are grouped into datasets. The files for a sample (images, auxiliary spreadsheet data, completed Excel template, etc) are uploaded as a set called a fileset. Uploading multiple samples requires multiple fileset uploads.<br />
                        <span>Step 1:</span> Create a new dataset for the control sample and its related files, then when uploading each additional sample be sure to select the same dataset that was used for the control sample of the sample group.<br />
                        <span>Step 2:</span> Click here to download the blank MS Excel template (137 kB). (Click here to see an example, 263 kB)<br />
                        <span>Step 3:</span> Fill in the parameters for all applicable cells in the Excel template file. Prepare the supplementary images and raw data files.<br />
                        <span>Step 4:</span> Select the completed Excel template file in the first uploading box.<br />
                        <span>Step 5:</span> Select the supplementary images and other raw data files in the second uploading box (press "Ctrl" or "Command" when selecting multiple files), then click Submit to upload your data.<br />
                        <span>Step 6:</span> Wait for the feedback message. Please read the message and follow the instructions if an error message is displayed.<br />
                        <p class="upload_text">
                            <span>Note:</span>
                            <ol>
                                <li>We recommend you to upload your control sample first and remember its sample ID.</li>
                                <li>Upload one sample data at a time (one template Excel file along with supplementary files).</li>
                                <li>Rows or sections followed by a "#" sign in the template Excel file can be duplicated. Copy them into additional rows if needed.</li>
                                <li>Acceptable image file format: JPG, PNG, TIF(F). Indicate the full image file name including the extensions in the corresponding cells in the Excel template file.</li>
                            </ol>
                        </p>
                    </div>
                </div>
                <dataset-create-or-select class="upload_lists" selectHeader="Choose or create a dataset" :selectedHandler="datasetSelectedHandler"  :datasetOptions="datasetOptions"></dataset-create-or-select>
                <v-flex xs12 class="upload_txt text-xs-center text-sm-center text-md-center text-lg-center">
                    <p class="text-xs-left">Select a completed Excel Template File
                    <v-btn class="upload_btns text-xs-left" small @click='pickTemplate'>Browse</v-btn>
                    <input
                        type="file"
                        style="display: none"
                        accept=".xlsx, .xls"
                        ref="myTemplate"
                        @change="onTemplatePicked"
                    >
                    </p>
                    <v-list v-model="templateName" subheader v-if="templateUploaded">
                    <v-list-tile
                        :key="templateName"
                    >
                        <v-list-tile-avatar>
                        <v-icon color="primary">check_circle_outline</v-icon>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                        <v-list-tile-title v-text="templateName"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    </v-list>
                </v-flex>
                <v-flex xs12 class="upload_txt text-xs-center text-sm-center text-md-center text-lg-center">
                    <p class="text-xs-left">Select Other Files (including raw data files and image files)
                    <v-btn class="upload_btns text-xs-left" small @click='pickFile'>Browse</v-btn>
                    <input
                        type="file"
                        style="display: none"
                        :multiple="true"
                        ref="myUpload"
                        @change="onFilePicked"
                    >
                    </p>
                    <v-list v-model="filesDisplay" subheader>
                    <v-list-tile
                        v-for="file in filesDisplay"
                        :key="file.fileName"
                    >
                        <v-list-tile-avatar>
                        <v-icon color="primary">check_circle_outline</v-icon>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                        <v-list-tile-title v-text="file.fileName"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    </v-list>
                </v-flex>
                <v-btn v-on:click="submit()" :disabled="templateName.length < 1 || !datasetSelected" class="upload_btns">Submit</v-btn>
            </div>
        </div>
        <a-footer></a-footer>
    </div>
</template>