<template title="Materialsmine V2.0 - Teams Page">
    <div>
        <a-header :info="info"></a-header>
        <div class="section_teams">
            <div class="wrapper">
                <div class="research">
                    <div class="team_header">
                        <h1 title="Research" class="visualize_header-h1 teams_header">Data centric nanocomposites design via mixed-variable Bayesian optimization</h1>
                    </div>
                    <div class="teams_text u-clear">
                        <div class="news_image"> 
                            <img src="/nmstatic/img/data-centric.png" alt="news article">
                        </div>
                        With an unprecedented combination of mechanical and electrical properties, polymer nanocomposites have the potential to be widely used across multiple industries. Tailoring nanocomposites to meet application specific requirements remains a challenging task, owing to the vast, mixed-variable design space that includes composition (i.e. choice of polymer, nanoparticle, and surface modification) and microstructures (i.e. dispersion and geometric arrangement of particles) of the nanocomposite material.
                        <a href="https://doi.org/10.1039/D0ME00079E" target="_blank" class="btn-text">More...</a>
                    </div>
                </div>
                <!--<div class="research">
                    <div class="team_header">
                        <h1 title="Research" class="visualize_header-h1 teams_header">Research Title</h1>
                    </div>
                    <div class="teams_text u-clear">
                        <div class="news_image"> 
                            <img src="/nmstatic/img/prop_simu.png" alt="news article">
                        </div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero labore nam quasi necessitatibus iure iste neque exercitationem, veritatis impedit quisquam ad omnis, suscipit hic, ullam ratione temporibus harum maxime.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, repellendus et recusandae quod quis rerum illo ratione placeat odit eligendi ad doloribus quibusdam ipsa, nemo, dolore non est fugit voluptate!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde nostrum similique dicta quibusdam officiis dolores nemo temporibus architecto harum accusamus, doloribus nesciunt repellendus aperiam nam quaerat nobis reprehenderit. Ipsum!
                        <a href="#" class="btn-text">More...</a>
                    </div>
                </div>-->
                <div class="u_divider"></div>
                <div class="team_header news_header">
                    <h1 title="Research" class="visualize_header-h1">News</h1>
                </div>
                <div class="news-container u-clear">
                    <div class="news_content">
                        <div class="team_header">
                            <h2 title="Research" class="news_title">Check back for more news...</h2>
                        </div>
                    </div>
                </div>
                <!--<div class="news-container u-clear">
                    <div class="news_image"> 
                        <img src="/nmstatic/img/prop_simu.png" alt="news article">
                    </div>
                    <div class="news_content">
                        <div class="team_header">
                            <h2 title="Research" class="news_title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
                        </div>
                        <div class="news_text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vero labore nam quasi necessitatibus iure iste neque exercitationem, veritatis impedit quisquam ad omnis, suscipit hic, ullam ratione temporibus harum maxime.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, repellendus et recusandae quod quis rerum illo ratione placeat odit eligendi ad doloribus quibusdam ipsa, nemo, dolore non est fugit voluptate!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde nostrum similique dicta quibusdam officiis dolores nemo temporibus architecto harum accusamus, doloribus nesciunt repellendus aperiam nam quaerat nobis reprehenderit. Ipsum!
                        </div>
                    </div>
                    <div class="news_info">
                        <div class="news_info-left">By <span>lorem ipsum</span></div>
                        <div class="news_info-right">January 01, 2021</div>
                    </div>
                </div>-->
            </div>
        </div>
        <a-footer></a-footer>
    </div>
</template>