<template title="Materialsmine V2.0 - Teams Page">
    <div>
        <a-header :info="info"></a-header>
        <div class="section_teams tools">
            <div class="wrapper">
                <div class="tools-module">
                    <div class="team_header">
                        <h1 title="Team's Headline" class="visualize_header-h1 teams_header">Material Property Simulation</h1>
                    </div>
                    <div class="teams_text">
                        We provide online version of physics-based simulation tools that take advantage of our most recent development in viscoelasticity and dielectric relaxation theories for interphase analysis in nanocomposites, statistical structure-property correlation models, as well as materials optimization methods.
                    </div>
                    <div class="tools_shortcuts">
                        <div class="tools_shortcuts-list">
                            <ul>
                                <li>
                                    <div class="tools_box tools_box--3">
                                    </div>
                                    <div class="tools_box-content tools_box-content-odd">
                                        <div class="tools_name"><h3>POLYMERIZER</h3></div>
                                        <div class="tools_description">
                                            Polymerizer is an online application for prediction of surface energy for nanocomposites featuring user-defined polymer structure input and structure-property MQSPR. This web app is in collaboration with and maintained by Rensselaer Polytechnic Institute.
                                            <div class="tools_laucher">
                                                <a class="btn btn--tertiary" href="http://reccr.chem.rpi.edu/polymerizer/index.html" target="_blank">Launch</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a-footer></a-footer>
    </div>
</template>