<template title="Materialsmine V2.0 - Teams Page">
    <div>
        <a-header :info="info"></a-header>
        <div class="u_divider"></div>
        <div class="section_teams">
            <div class="wrapper">
                <div class="research">
                    <div class="team_header">
                        <h1 title="Research" class="visualize_header-h1 teams_header">Research Title</h1>
                    </div>
                    <div class="teams_text">
                        Reiciendis vero labore nam quasi necessitatibus iure iste neque exercitationem, veritatis impedit quisquam ad omnis, suscipit hic, ullam ratione temporibus harum maxime.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, repellendus et recusandae quod quis rerum illo ratione placeat odit eligendi ad doloribus quibusdam ipsa, nemo, dolore non est fugit voluptate!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde nostrum similique dicta quibusdam officiis dolores nemo temporibus architecto harum accusamus, doloribus nesciunt repellendus aperiam nam quaerat nobis reprehenderit. Ipsum!
                        Consequuntur repellat illum modi ratione unde laborum? Dolorem quod ea, repellat cum quae assumenda recusandae facere blanditiis quo quaerat nihil aut corporis.
                        Praesentium eveniet odit et, quas officia suscipit soluta, laborum laboriosam, possimus veniam accusamus aspernatur harum recusandae. Quas rerum a totam earum quia.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat expedita dolores ipsam explicabo ipsum labore est odit suscipit! Id accusantium inventore nihil earum perspiciatis voluptatem! Ex similique sunt libero!
                    </div>
                </div>
            </div>
        </div>
        <a-footer></a-footer>
    </div>
</template>