[Unit]
Description = NanoMine Neo4j
After=network.target

[Service]
Type = forking
ExecStart = /apps/neo4j/bin/neo4j start
ExecStop = /apps/neo4j/bin/neo4j stop
ExecReload = /apps/neo4j/bin/neo4j restart
User=whyis
Group=whyis

[Install]
WantedBy = multi-user.target
