.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 1.8rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $medium-size;
        font-weight: bold;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($primary-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($primary-black,.2);
    }
    
    &--white {
        background-color: $primary-white;
        color: $primary-light;

        &::after {
            background-color: $primary-white;
        }
    }

    &--primary {
        background-color: $primary;
        color: $primary-white;

        &::after {
            background-color: $primary;
        }
    }

    &--tertiary {
        background-color: $tertiary;
        color: $primary;

        &::after {
            background-color: $tertiary;
        }
    }

    &--normal,
    &--normal::after {
        border-radius: 1.14rem !important;
        padding: .5rem 1rem !important;
        font-weight: 300;

        @include respond(tab-land){
            font-size: .8rem !important;
        }
    }

    &--noradius,
    &--noradius::after {
        border-radius: .1rem !important;
        padding: .5rem 1rem !important;
        font-weight: 300;

        @include respond(tab-land){
            font-size: .8rem !important;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-size;
        color: $primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $primary;
        color: $primary-white;
        box-shadow: 0 1rem 2rem rgba($primary-black, .15);
        transform: translateY(-2px);
        border-bottom: 1px solid $primary-light;
        padding: 1rem 2rem;
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($primary-black, .15);
        transform: translateY(0);
    }
}