.footer {
    &_icon {
        &-img {
            transition: all 1.2s ease-out;
            width: 24rem;
            display: block;
            margin-bottom: .2rem;

            @include respond(tab-land){
                width: 18rem;
            }

            @include respond(tab-port){
                width: 12rem;
            }

            @include respond(phone) {
                width: 10rem;
            }
        }
        &-text {
            color: $primary-white;
            font-weight: 500;
            display: block;
            word-spacing: .1rem;
            font-size: 1.1rem;

            @include respond(laptop){
                font-size: 1rem;
            }
            @include respond(tab-port){
                font-size: 0.8rem;
            }
            @include respond(phone){
                font-size: 0.66rem;
            }
        }
    }

    &_content {
        margin: 2.2rem 0px 10.5rem 0px;
        @include respond(phone){
            margin: 0;
        }

        &-mobile {
            display: none;
            visibility: hidden;
            @include respond(phone){
                display: block;
                visibility: visible;
                margin: 1.2rem 0px 0.8rem 0px;
            }
            
        }
    }

    &_list {
        & > ul {
            padding: 0 !important;
            & > li {
                list-style: none;
                margin-bottom: .4rem;

                & > a {
                    text-decoration: none;
                    font-weight: 400;
                    color: $primary-white;
                    font-size: 1.35rem;
                    transition: color .5s ease-in;
        
                    &:hover{
                        color: $tertiary;
                        border-bottom: .15rem solid $tertiary;
                    }
            
                    @include respond(tab-port){
                        font-size: .8rem;
                        padding: 0.25rem 0;
                    }
                }
            }
        }
        
    }
}