.nav {
    &_menu {
        & > ul {
            margin: 0;
            padding: .7rem 0;
            // @include clearfix;

            & > li {
                list-style: none;
                display: inline-block;
                padding-right: 1.25rem;
    
                // &:last-child {
                //     padding-right: 0;
    
                //     @include respond(tab-port){
                //         padding-right: .2rem;
                //     }
                // }
    
                // @include respond(tab-land){
                //     padding-right: 1.25rem;
                //     float: left;
                //     display: block;
                // }
                
                & > a,
                & > div > a {
                    text-decoration: none;
                    font-weight: 400;
                    color: $primary-white;
                    padding: 0.1rem 0.2rem;
                    font-size: 1.05rem;

                    &:hover{
                        color: $tertiary;
                        border-bottom: .2rem solid #d7df71;
                    }
    
                    @include respond(tab-port){
                        font-size: .8rem;
                        padding: 0.3rem 0.6rem;
                    }
    
                    @include respond(phone){
                        padding: 0;
                    }
                }
            }
        }

        &--handler {
            &:active + div.nav_menu--siblings,
            &:hover + div.nav_menu--siblings {
                display: block;
                visibility: visible;
            }
        }

        &--container {
            position: relative;
        }

        &--sibheader {
            top: 1.8rem !important;
        }

        &--siblings {
            padding: .3rem 0;
            border-bottom: 0.3rem solid rgb(8, 35, 60);
            position: absolute;
            top: 2.02rem;
            left: 0;
            /* font-size: 1rem; */
            line-height: 2.5;
            min-width: 20rem;
            background-color: #ffffff;
            border-bottom-left-radius: .9rem;
            border-bottom-right-radius: .9rem;
            border-top-right-radius: .5rem;
            display: none;
            visibility: hidden;
            z-index: 10;

            @include respond(laptop){
                top: 2rem;
            }
            
            @include respond(tab-land){
                top: 1.8rem;
            }

            &-lists {
                display: block;
                border-bottom: 1px solid rgba($primary-grey, .2);
                transition: background-color .5s ease-out;
                & > a {
                    color: $primary-light;
                    font-size: 1.4rem;
                    padding: 0 0.6rem;
                    text-decoration: none;

                    &:hover{
                        color: $primary-white;
                    }
                }

                &:hover{
                    background-color: $primary;
                    cursor: pointer;
                    & > a {
                        color: $primary-white;
                    }
                }
            }

            &-lists-removebdr {
                border: none;
            }

            &:hover {
                display: block;
                visibility: visible;
            }
        }
    }

    &_ul {
        @include respond(tab-land){
            width: 100vw;
            text-align: center;
        }
    }

    &_mobile-icon {
        display: none;
        visibility: hidden;
        @include respond(phone){
            height: 1.3rem;
            width: 1.25rem;
            position: absolute;
            top: .7rem;
            left: .8rem;
            z-index: 5;
            display: block;
            visibility: visible;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 1.25rem;
            height: .14rem;
            background-color: $primary-white;
            transform-origin: 0 0;
            transition: transform .4s ease-out;
        }

        &-menu {
            position: absolute;
            top: .6rem;
            width: 1.75rem;
            height: .14rem;
            background-color: $primary-white;
            transition: all .4s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 1.25rem;
            height: .14rem;
            background-color: $primary-white;
            transform-origin: 0 50%;
            transition: transform .4s ease-out;
        }

        &--toggle {
            &::before {
                transform: rotate(45deg) translateY(-1.5px) scale(1.5);
                height: .09rem;
            }

            .nav_mobile-icon-menu {
                opacity: 0;
                transform: scale(0);
            }

            &::after {
                transform: rotate(-45deg) scale(1.5);
                height: .09rem;
            }

        }
    }
}

