.section {
    &_banner {
        position: relative;
        // background-image: linear-gradient(0deg,rgba(8,35,60,.1),rgba(14,95,118,.1)),url(/nmstatic/img/random_network.png);
        background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(/nmstatic/img/random_network.png);
        height: 42rem;
        width: 100%;
        background-size: cover;

        @include respond(tab-land){
            height: 34rem;
        }

        @include respond(tab-port) {
            height: 24rem;
            background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(/nmstatic/img/random_network-medium.png);
        }

        @include respond(phone) {
            height: 16rem;
            background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(/nmstatic/img/random_network-small.png);
        }

        &__text-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            text-align: center;
            width: 60%;
            letter-spacing: .02rem;
            font-weight: 200;
            font-size: 3rem;
            color: $primary-white;

            & > span {
                font-weight: 300;
            }

            & > i {
                color: $tertiary;
                font-size: 14rem;
            }

            @include respond(tab-land) {
                width: 75%;
                font-size: 2.5rem;
            }

            @include respond(tab-port) {
                width: 75%;
                font-size: 1.8rem;
            }

            @include respond(phone) {
                top: 58%;
                width: 86%;
                font-size: 1rem;
                font-weight: 300;
            }


            

            // &--h1 {
            //     font-weight: 300;
            //     font-size: 2.4rem;
            //     margin: 0 0 .2rem 0;

            //     @mixin atSmall {
            //         font-size: 4.8rem;
            //         margin: 0;
            //     }
            // }

            // &--h2 {
            //     font-weight: 300;
            //     font-size: 1.5rem;
            //     margin: 0;

            //     @mixin atSmall {
            //         font-size: 2.9rem;
                    
            //     }
            // }

        }
        // &__description {
        //     color: $white;
        //     font-size: 1.1rem;
        //     font-weight: 100;
        //     text-shadow: 2px 2px 0 rgba(0,0,0,.1);
        //     max-width: 30rem;
        //     margin-left: auto;
        //     margin-right: auto;

        //     @mixin atSmall {
        //         font-size: 1.875rem;
        //     }

        // }

        &__nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: .5rem;

            @include respond(phone){
                display: none;
            }
        }
    }

    &_quicklinks {
        margin: 5.5rem 0;
        @include respond(laptop) {
            display: none;
        }
    }

    &_footer {
        background-color: $primary;
        padding: 1rem 0;

        @include respond(tab-port) {
            display: none;
        }
    }

    &_visualize {
        margin: 5.5rem 0 3.5rem 0;

        @include respond(laptop) {
            position: relative;
            margin-top: 3.5rem;
            margin-top: 1.5rem;
        }

        @include respond(tab-land) {
            margin-top: 0.5rem;
        }

        @include respond(tab-port) {
            margin-top: 1.9rem;
            margin-bottom: 2.5rem;
        }

        @include respond(phone){
            margin-top: 0;
        }
    }

    &_teams {
        padding: 2rem 0;
    }
}