.section {
    &_banner {
        position: relative;
        // background-image: linear-gradient(0deg,rgba(8,35,60,.1),rgba(14,95,118,.1)),url(/nmstatic/img/random_network.png);
        background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(/nmstatic/img/random_network.png);
        height: 30rem;
        width: 100%;
        background-size: cover;
        z-index: 10;

        @include respond(tab-land){
            height: 24rem;
        }

        @include respond(tab-port) {
            height: 19rem;
            background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(/nmstatic/img/random_network-medium.png);
        }

        @include respond(phone) {
            height: 16rem;
            background-image: linear-gradient(0deg,rgba(8,35,60,.2) 25%,rgba(14,95,118,.9)),url(/nmstatic/img/random_network-small.png);
        }

        &__text-content {
            position: absolute;
            top: 55%;
            left: 50%;
            transform:translate(-50%, -50%);
            text-align: center;
            width: 60%;
            letter-spacing: .02rem;
            font-weight: 200;
            font-size: 3rem;
            color: $primary-white;

            @include respond(phone) {
                top: 65% !important;
            }

            & > span {
                font-weight: 300;
            }

            & > i {
                color: $tertiary;
                font-size: 10rem;
                @include respond(phone) {
                    font-size: 5rem;
                }

            }

            @include respond(tab-land) {
                width: 75%;
                font-size: 2.5rem;
            }

            @include respond(tab-port) {
                width: 75%;
                font-size: 1.8rem;
                top: 50%;
            }

            @include respond(phone) {
                top: 58%;
                width: 86%;
                font-size: 1rem;
                font-weight: 300;
            }
        }

        &__nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: .5rem;

            @include respond(phone){
                display: none;
            }
        }

        &__misc {
            height: 22rem !important;
            background-position: left;

            @include respond(phone){
                height: 13rem !important;
            }
        }
    }

    &_teams {
        margin: 0 0 4rem 0;

        @include respond(laptop) {
            margin: 0 0 2.5rem 0;
        }

        @include respond(tab-port) {
            margin: 0;
        }
    }

    &_quicklinks {
        // margin: 5.5rem 0;
        padding: 5.5rem 0;
        background-color: $primary-white;
        @include respond(laptop) {
            padding: 3.5rem 0;
            // margin: 3.5rem 0;
        }
    }

    &_footer {
        background-color: $primary;
        padding: 1rem 0;
    }

    &_visualize {
        // margin: 0 0 3.5rem 0;
        padding: 5.5rem 0 3.5rem 0;
        background-color: $primary-white;
        @include respond(laptop) {
            position: relative;
            padding-top: 1.5rem;
            // margin-top: 1.5rem;
        }

        @include respond(tab-land) {
            padding-top: 0.5rem;
            // margin-top: 0.5rem;
        }

        @include respond(tab-port) {
            padding-top: 1.9rem 0 2.5rem 0;
            // margin-top: 1.9rem;
            // margin-bottom: 2.5rem;
        }

        @include respond(phone){
            margin-top: 0;
        }
    }

    &_teams {
        padding: 2rem 0;
        background-color: $primary-white;
    }
}