.wrapper {
    padding-left: 1.1875rem;
    padding-right: 1.1875rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    @include respond(tab-port){
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &--medium {
        max-width: 80%;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.u {
    &-clear {
        @include clearfix;
    }

    &_divider {
        height: .1rem;
        width: 50%;
        margin: 0 auto;
        background-color: rgba($primary-grey, .3);
    }

    &--inline {
        display: inline-block;
    }
    &--default-size {
        font-size: $default-size !important;

        @include respond(tab-land){
            font-size: $medium-mid-size !important;
        }
    }
    &_adjust-banner-text {
        position: relative;
        top: -24px;
        font-size: 5rem;

        @include respond(tab-land){
            top: -40px;
            font-size: 5rem;
        }
        @include respond(phone){
            top: -20px;
            font-size: 3rem;
        }
    }

    &_margin-top {
        &-med {
            margin-top: 3.1rem !important;
        }
    }

    &_margin-right {
        &-small {
            margin-right: 1.5rem;
            @include respond(tab-land) {
                margin-right: .5rem;
            }

            @include respond(tab-port) {
                margin-right: .2rem;
            }
        }
    }

    &_margin-bottom {
        &-big {
            margin-bottom: 7rem;
            @include respond(phone){
                margin-bottom: 0.4rem;
            }
        }
    }

    &_toggle-display-off {
        @include respond(phone){
            display: none;
        }
    }

}
