.visualize {
    &--link {
        position: absolute;
        display: none;
        visibility: hidden;
        @include respond(laptop){
           display: block;
           visibility: visible;
           position: relative;
        }
        &-icons {
            display: none;
            visibility: hidden;
            position: absolute;
            @include respond(laptop) {
                display: block;
                visibility: visible;
                top: 10.5rem;
                cursor: pointer;
                @include respond(tab-port) {
                    top: 12.5rem;
                }
                @include respond(phone) {
                    top: 14.5rem;
                }
                & > i {
                    font-size: 6rem;
                    font-weight: 500;
                    color: $primary;
                    @include respond(phone) {
                        font-size: 4rem;
                    }
                }
            }
        }
        &-left {
            left: -0.5rem;
        }
        &-right {
            right: 0;

            @include respond(phone) {
                right: -0.5rem;
            }
        }
    }

    &_header {
        text-align: center;
        &-h1 {
            font-size: 3rem;
            font-weight: 300;
            margin-bottom: 2rem;
            background-image: linear-gradient(to right bottom, $primary, rgba($primary-light, 0.4));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;

            @include respond(tab-land){
                font-size: 2.5rem;
                margin-bottom: 1.4rem;
            }

            @include respond(phone){
                font-size: 2.1rem;
                margin-bottom: 0;
            }
        }
    }
    &_accordion {
        margin-bottom: 6rem;
        text-align: center;

        @include respond(laptop) {
            margin-bottom: 3rem;
        }

        @include respond(tab-land) {
            margin-bottom: 3rem;
        }
        
        @include respond(tab-port) {
            margin-bottom: 1.5rem;
        }

        @include respond(phone) {
            margin-bottom: 1rem;
        }
    }

    &_image {
        &container {
            margin-top: 2.5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        &modifier {
            margin-bottom: 2rem;
            &:hover {
                position: relative;
                transform: scale(1.18);
                z-index: 100 !important;
                box-shadow: rgba($primary, 0.16) 0px 1px 4px, $primary-light 0px 0px 0px 3px;
                background-color: rgba($primary, 0.8);
                cursor: pointer;
            }
        }
        &error {
            color: $error;
            text-align: center;
        }
    }

    &-pagination-container {
        width: 80%; 
        margin: 1.5rem auto; 
        text-align:center;

        @include respond(tab-land) {
            max-width: 28%;
            margin: 0 auto; 
            margin-top: 3.5rem; 
        }
    }

    &-pagination {
        margin-top: .8rem;
        @include respond(tab-port){
            margin: 0 auto;
            display: grid;
            grid-template-rows: repeat(1, 100%);
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 1rem;
            margin: 1rem auto;
            max-width: 70%;
        }

        @include respond(tab-land) {
            max-width: 100%;
        }

        & > a {
            padding:10px 24px !important;
            color: $primary-white !important;
            font-size: 1rem;
            border: none;
            background-color: $primary;
            text-align: center;
            cursor: pointer;
            font-weight: 400;
            text-decoration: none;

            &:not(:nth-child(3)) {
                margin-right: .8rem;
            }

            @include respond(tab-land) {
                padding:10px !important;
                font-size: 1rem;
                margin: 0;
            }

            &:hover {
                text-decoration: none;
                border: none;
                background-color: rgba($primary, 0.8);
                color: $primary-white !important;
            }
        }
        &-active {
            background-color: rgba($primary, 0.8);
        }

        &__desktop{
            display: none;
            visibility: hidden;
            @include respond(tab-land){
                display: block;
                visibility: visible;
            }
        }
    }

    &_chart {
        display: none;
        visibility: hidden;
        opacity: 0;

        &-content {
            /* background-image: linear-gradient(to right bottom, rgba($primary-light, 0.4), $primary); */
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            width: 23rem;
            height: 18rem;
            position: relative;
            border: .1rem solid rgba($primary-black, .15);
            background-color: $primary-white;

            @include respond(laptop) {
                width: 20.5rem;
                height: 17.5rem;
            }
            
            @include respond(tab-port) {
                width: 23rem;
            }

            @include respond(phone) {
                width: 21rem;
                height: 17.2rem;
            }

            & > img {
                width: 100%;
                height: 17rem;
            }

            & > span {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 1.25rem .5rem;
                font-size: 1.3rem;
                font-weight: 500;
                background-color: rgba($primary-black, .6);
                width: 100%;
                color: $primary-white;
                text-align: left;
                font-weight: 600;
                line-height: 1.5;
            }
        }
    }
    &_btn {
        text-align: right;
        margin-right: 6rem;

        @include respond(laptop) {
            margin-right: 1rem;
        } 
        
        @include respond(tab-port) {
            margin-right: 0;
        } 
    }
    &_text {
        font-size: 1.6rem;
        font-weight: 300;
        word-spacing: .2rem;
        text-align: center;
        margin: 2rem 0;

        & > p {
            padding: 0 24rem;
            margin-bottom: 0;
            color: rgba($primary-black, .55);

            @include respond(laptop) {
                padding: 3rem;
            }

            @include respond(tab-land) {
                padding: 0;
            }
        }

        @include respond(tab-land) {
            font-size: 1.3rem;
        }

        @include respond(phone) {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
    }
}

@for $i from 1 through 5 {
    .charts-#{$i} { 
        display: inline-block;
        visibility: visible;
        opacity: 1;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        /* @include respond(big-desktop-chart-adjust){
            @include chartDisplayAdjust($i, 4);
        } */

        @include respond(laptop) {
            @include chartDisplayAdjust($i, 4);
        }

        @include respond(tab-land) {
            @include chartDisplayAdjust($i, 3);
        }

        @include respond(tab-port) {
            @include chartDisplayAdjust($i, 2);
        }

        @include respond(phone) {
            @include chartDisplayAdjust($i, 1);
        }
    }
    .charts_content-#{$i}{
        animation-name: moveInTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        cursor: pointer;
        position: relative;
        z-index: 5;
        @if $i < 3 {
            // transition: top .5s ease-out;
            top: calc(60px/#{$i});
        } @else if $i == 3 {
            margin-top: 0px;
        } @else if $i == 4 {
            // transition: top .5s ease-out;
            top: calc(60px/(#{$i}-2));
        } @else if $i == 5 {
            // transition: top .5s ease-out;
            top: calc(60px/(#{$i}-4));
            z-index: 4 !important;
        }

        @if $i == 1  {
            left: 0;
        } @else if $i == 2 {
            left: -25px
        } @else if $i == 3{
            left: -50px;
            z-index: 10;
        } @else if $i == 4 {
            left: -75px;
        } @else if $i == 5 {
            left: -100px;
        }

        /* @include respond(big-desktop-chart-adjust){
            @if $i == 1 or $i == 4 {
                // transition: top .5s ease-out;
                position: relative;
                top: 30px;
            } @else if $i == 2 or $i == 3 {
                margin-top: 0px;
                top: 0;
            }
        } */

        @include respond(laptop) {
            @if $i == 1 or $i == 4 {
                // transition: top .5s ease-out;
                position: relative;
                top: 30px;
            } @else if $i == 2 or $i == 3 {
                margin-top: 0px;
                top: 0;
            }
        }

        @include respond(tab-land) {
            @if $i == 1 or $i == 3 {
                // transition: top .5s ease-out;
                position: relative;
                top: 30px;
            } @else if $i == 2 {
                margin-top: 0px;
                top: 0;
                z-index: 15;
            }
        }

        @include respond(tab-port) {
            @if $i == 1 or $i == 2 {
                // transition: top .5s ease-out;
                margin-top: 0px;
                top: 0;
            }
        }


        @include respond(tab-port) {
            top: .4rem;
        }

        &:hover {
            position: relative;
            transform: scale(1.15);
            z-index: 100 !important;
            box-shadow: rgba($primary, 0.16) 0px 1px 4px, $primary-light 0px 0px 0px 3px;
        }
    }
}